.emacs.desktop.lock
.emacs.desktop
auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentf